.inner-head-bg {
    background-color: #164863;
}
.top-input input {
    background: #fff;
    padding: 8px 10px;
    color: #000;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.sidebar-logo {
    width: 100%;
    border-bottom: 1px solid #c0c0c0;
    padding: 10px;
}
.sidebar-logo {
    width: 100%;
    border-bottom: 1px solid #c0c0c0;
    padding: 10px;
}
.side-menu li {
    border-bottom: 1px solid #ededed;
    padding: 6px 10px;
}
.side-menu li:hover {
    background: #164863;
}
.side-menu li:hover p {
    color: #fff;
}
.bg-blue {
    background: #EEF5FF ;
}
.bg-peach {
    background: #F4EAE0;
}
.bg-darkblue {
    background: #FAEED1;
}
.min-height {
    height: 120px;
    padding: 28px;
}
.table-striped tbody tr:hover {
    background: #f2f2f2;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
}
.mission-box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    padding: 40px;
}
.submit-btn button {
    margin-top: 15px;
    padding: 7px 30px;
}
.add-subtask {
    max-width: 350px !important;
    width: 100%;
}
.add-subtask input {
    padding: 11px 10px;
    border: 1px solid #c0c0c0;
}